# Cadena de conexión a MongoDB
# Ejemplo para instancia local sin autenticación
MONGODB_URI=mongodb://localhost:27017

# Ejemplo con usuario/contraseña y autenticación en base admin
# MONGODB_URI=mongodb://usuario:clave@localhost:27017/?authSource=admin
